BLOB_READ_WRITE_TOKEN=
EMAIL_USER=youremailaddress@xxx.com
MY_EMAIL=youremailaddress@xxx.com
EMAIL_PASSWORD=xxxx xxxx xxxx xxxx
CORS_ORIGINS=https://localhost:3000, https://127.0.0.1:3000
DATABASE_URL=
ADMIN_USERNAME=
ADMIN_PASSWORD=
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=60